<!DOCTYPE html>
<html>
<head>
<title>Karlo Feltrin Portfolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
</head>
<body class="w3-light-blue">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4 w3-round-xxlarge">
        <div class="w3-display-container w3-round-xxlarge">
          <img class="w3-round-xxlarge" src="/static/img/Profilna.jpeg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black w3-white" style="font-style: italic;">
            <h2>Karlo Feltrin</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Programmer / Backend Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Sveti Ivan Žabno, Croatia</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>kfeltrin07@mail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>(+385) 955563005</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>Django</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">
              <div class="w3-center w3-text-white">85%</div>
            </div>
          </div>
          <p>SQL</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>.NET</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>
          <p>And others available on my CV:</p>
          <p><li><a rel="stylesheet" href="/static/files/CV Karlo Feltrin Eng 22.4.2024.pdf"   download="CV KARLO FELTRIN Eng">English CV</a></li>
            <li><a rel="stylesheet" href="/static/files/CV Karlo Feltrin Hr 22.4.2024.pdf"   download="CV KARLO FELTRIN Hr">Croatian CV</a></li>
          </p>
          <br>
          <p class="w3-large w3-text-theme"><b><i class="fa fa-certificate fa-fw w3-margin-right w3-text-teal"></i>Certificates</b></p>
          <p><li><a rel="stylesheet" href="/static/files/Certificates_Karlo_Feltrin.pdf"   download="CERTIFICATES KARLO FELTRIN">Certificates download</a></li></p>
          <br>
          <p class="w3-large w3-text-theme"><b><i class="fa fa-github fa-fw w3-margin-right w3-text-teal"></i>Projects</b></p>
          <p><li><a rel="stylesheet" href="https://github.com/kfeltrin07"   download="CERTIFICATES KARLO FELTRIN">Github link</a></li></p>
          <br>
          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>Croatian</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container  w3-white w3-margin-bottom w3-round-xxlarge">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Full stack Developer (Internship)/ Serengeti d.o.o</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2023 - May 2023</span></h6>
          <p><li>Development of web apllication in Angular framework with a .NET Backend, and MS SQL relational
            database;</li>
            <li>Worked in a team with 3 colleges,</li>
            <li>I was in charge of the SQL database and the entire Backend,</li>
            <li>Gitlab was used with a CI/CD pipline,</li>
            <li>For security the site has Hash encoding for passwords and uses JWT tokens for user data</li></p>
          <hr>
        </div>
        <div class="w3-container">
            <h5 class="w3-opacity"><b>Aid to teacher / Public university Bjelovar</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2019 - Aug 2019</h6>
            <p><li>Aiding students in programming tasks</li>
              <li>Grading and awarding students</li>
              <li>Testing programs made by students</li></p>
            <hr>
          </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Electro engineer / Rotor.d.o.o</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2015 - Aug 2017</h6>
          <p><li>Maintenance of electric engines</li>
            <li>Mounting of electrical installations</li>
            <li>Maintenance of workplace</li></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Technical support agent / Meritus plus d.o.o (outsorcing for Croatan Telecom)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2021 - Jun 2022</h6>
          <p><li>Technical support for private users, later also billing support, with: internet, mobile services, TV and others</li>
            <li>Selling posibble upsales for the user or completely new services</li>
            <li>Checking billing status</li>
            <li>After call updating the database with new information</li></p><br>
        </div>
      </div>

      <div class="w3-container w3-round-xxlarge w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Technical school Bjelovar</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2014 - Jul 2018</h6>
          <p>Highschool Degree</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Coursera</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2024</h6>
          <p>Profesional Backend Developer Certificate</p>
          <p>Other certificates available in my CV or in the Certificates file</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>University of Bjelovar</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - Not finnished</h6>
          <p>Bachelor Degree in programing (on hold)</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <a href="https://www.facebook.com/karlo.feltrin/" ><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
  <a href="https://www.instagram.com/feltech0/" ><i class="fa fa-instagram w3-hover-opacity"></i></a>
  <a href="https://twitter.com/BeeBramble1" ><i class="fa fa-twitter w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/in/karlo-feltrin-75b07b288/" ><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <a href="https://github.com/kfeltrin07" ><i class="fa fa-github"></i></a>
  <p>CSS design provided by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
